html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-progress-spinner {
  display: block;
  margin: 1em auto;
}

.component-container {
  padding: 1em;
  margin-bottom: 2em;
}
